<!DOCTYPE html>
<html>
  <head>
    
    <title>Sinatra MVC</title>
  </head>

  <body>
    <h1>Karlies bio</h1>
    <p> She grew up in ST louis, and is an international supermodel. </p>
 <img scr=https://akns-images.eonline.com/eol_images/Entire_Site/2017811/rs_634x1024-170911071813-634.Karlie-Kloss-Street-Style.jl.091117.jpg>
  </body>
</html>